<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body >
    <div th:replace="fragments.html :: main-nav"></div>
    <div>
        <div>
            <h1 th:text="${account.nickname}">...</h1>
            <p th:if="${!#strings.isEmpty(account.bio)}" th:text="${account.bio}">bio</p>
            <p th:if="${#strings.isEmpty(account.bio) && isOwner}">
                한 줄 소개를 추가하세요.
            </p>
        </div>

        <div id="v-pills-tabContent">
            <div id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <p th:if="${!#strings.isEmpty(account.url)}">
                    <span th:text="${account.url}"></span>
                </p>
                <p th:if="${!#strings.isEmpty(account.occupation)}">
                    <span th:text="${account.occupation}"></span>
                </p>
                <p th:if="${!#strings.isEmpty(account.location)}">
                    <span th:text="${account.location}"></span>
                </p>
                <p th:if="${isOwner}">
                    <span th:text="${account.email}"></span>
                </p>
                <p th:if="${isOwner || account.emailVerified}">
                    <span th:if="${isOwner && !account.emailVerified}">
                        <a href="#" th:href="@{'/checkemail?email=' + ${account.email}}">가입을 완료하려면 이메일을 확인하세요.</a>
                    </span>
                    <span th:text="${#temporals.format(account.joinedAt, 'yyyy년 M월 가입')}"></span>
                </p>
                <div th:if="${isOwner}">
                    <a href="#" th:href="@{/settings/profile}">프로필 수정</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>