<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>SampleLogin</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css" />
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/node_modules/jdenticon/dist/jdenticon.min.js"></script>
    <style>
        .container {
            max-width: 100%;
        }
    </style>
</head>

<nav th:fragment="main-nav">
    <div sec:authorize="!isAuthenticated()">
        <a th:href="@{/login}">로그인</a>
        <a th:href="@{/sign-up}">가입</a>
    </div>

    <div sec:authorize="isAuthenticated()">
        <svg data-jdenticon-value="user127" th:data-jdenticon-value="${#authentication.name}"
             width="24" height="24"></svg>

        Hi, <span sec:authentication="name">Username</span><br/>
        <a th:href="@{'/profile/' + ${#authentication.name}}">프로필</a>
        <a href="#" th:href="@{'/settings/profile'}">설정</a>
        <form action="#" th:action="@{/logout}" method="post">
            <button type="submit">로그아웃</button>
        </form>
    </div>
</nav>

<footer th:fragment="footer">
    <div>
        <small>&copy; 2023</small>
    </div>
</footer>

<script type="application/javascript" th:fragment="form-validation">
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated')
                }, false)
            })
        }, false)
    }())
</script>

</html>