<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: head"></head>
<body>
    <div th:replace="fragments.html :: main-nav"></div>
    <div>
        <div>
            <h2>로그인</h2>
        </div>
        <div >
            <div th:if="${param.error}" role="alert">
                <p>아이디/패스워드가 정확하지 않습니다.</p>
            </div>

            <form class="needs-validation" action="#" th:action="@{/login}" method="post" novalidate>
                <div>
                    <label for="username">아이디</label>
                    <input id="username" type="text" name="username"
                           placeholder="your@email.com" aria-describedby="emailHelp" required>
                </div>
                <div>
                    <label for="password">패스워드</label>
                    <input id="password" type="password" name="password"
                           aria-describedby="passwordHelp" required>
                </div>

                <div>
                    <button type="submit" aria-describedby="submitHelp">로그인</button>
                    <small id="submitHelp">
                        <a href="#" th:href="@{/sign-up}">계정 생성</a>
                    </small>
                </div>
            </form>
        </div>

        <div th:replace="fragments.html :: footer"></div>
    </div>
    <script th:replace="fragments.html :: form-validation"></script>
</body>
</html>